  /* start footer */
  .footer{
    background-color:#2c4755;
    padding: 30px 10px;
    text-align: center; 
    color: white;
    font-size: 18px;
}
.footer span{
    font-weight: bold;
    color: #10cab7;
}
/* End footer */
