 <!-- start features -->
 <div class="features">
    <div class="container">
        <div class="feat">
            <i class="fa fa-magic fa-3x"></i>
            <h3>Tell Us Your idea</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum libero ea minus praesentium at.
                Inventore velit aliquam tenetur quasi eum officia dignissimos cupiditate laborum repellat, nulla
                molestiae et quod dolorum?</p>
        </div>
        <div class="feat">
            <i class="fa fa-gem fa-3x"></i>
            <h3>We will Do All The Work</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque assumenda adipisci est natus cum
                deserunt distinctio, quo voluptatibus veniam magnam aperiam excepturi reprehenderit, voluptatem odit
                quae minima, nisi officia eveniet?</p>

        </div>
        <div class="feat">
            <i class="fa fa-globe-asia fa-3x"></i>
            <h3>Your product is worldwide</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis modi praesentium itaque quasi minima
                libero, alias laboriosam quod. Eius quae aspernatur assumenda ipsam ipsum quo dicta accusantium hic
                facere libero.</p>

        </div>
    </div>
</div>

<!-- End features -->