     <!-- Start About -->
     <div class="about" id="About">
        <div class="container">
            <h2 class="special-heading">About</h2>
            <p>Less is more work</p>
            <div class="about-content">
                <div class="image">
                    <img src="../../assets/about.jpg" alt="" />
                </div>
                <div class="text">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil nemo neque voluptate tempora
                        velit cum non,
                        fuga vitae architecto delectus sed maxime rerum impedit aliquam obcaecati, aut excepturi
                        iusto laudantium!
                    </p>
                    <hr />
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, sapiente. Velit iure
                        exercitationem
                        dolores nesciunt dolore. Eum officiis dolorum hic voluptate quaerat minima, similique
                        inventore esse,
                        alias, sed quo officia?
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- End About -->