 <!-- start header -->
 <div class="header">
  <div class="container">
      <img src="../../assets/logo.png" class="logo" alt="">
      <div class="links">
          <span class="icon">
              <span></span>
              <span></span>
              <span></span>
          </span>
          <ul>
            <li><a routerLink="home">Home</a></li>
              <li><a routerLink="services">Services</a></li>
              <li><a routerLink="portfolio">Portfolios</a></li>
              <li><a routerLink="about">About</a></li>
              <li><a routerLink="contact">Contact</a></li>
          </ul>
      </div>
  </div>
</div>
<!-- End header -->