<!-- <table class="table" >
    <thead>
      <tr>
        <th scope="col">name</th>
        <th scope="col">age</th>
        <th scope="col">gender</th>
        <th scope="col">salary</th>
        <th scope="col">function</th>
      </tr>
    </thead>
    <tbody *ngIf="user.length > 0; else hho">
      <tr *ngFor="let u of user">
        <th scope="row">{{u.name}}</th>
        <td >{{u.age}}</td>
        <td>{{u.gender}}</td>
        <td>{{u.salary}}</td>
        <td>{{u.hello? u.hello(): ''}}</td>
      </tr>
    
    </tbody>
  </table>

  <ng-template #hho>
    <h1>No Data</h1>
  </ng-template>

  <h1 *ngIf="productPrice > 2">Testing</h1> -->

   <!-- Start Landing -->
   <div class="landing" id="landing">
    <div class="intro-text">
        <h1>Hello There </h1>
        <p>We are Leon - Super Creative & Minimal Agency Web Template</p>
    </div>
</div>
<!-- End Landing -->